arena_latitude: 35.80339805
arena_longitude: -78.7219165859909
arena_parking_distance_miles: 1.0
home_address: 200 N Blount St, Raleigh, NC 27601
log_enabled:
log_file: tesla_puck.log
redis_url: redis://localhost:6379/3
tesla_client_id: 81527cff06843c8634fdc09e8ac0abefb46ac849f38fe1e431c2ef2106796384
tesla_client_secret: c7257eb71a564034f9419ee651c7d0e5f7aa6bfbd18bafb5c5c033b093bb2fa3
tesla_email: elon.nhl@gmail.com
tesla_password: M0del3!
time_zone: America/New_York
nhl_team_id: 12
web_password: ChangeMe
pushover_enabled:
pushover_user_key:
pushover_token:
